::selection {
    background-color: #008dff26;
    color: black;
}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
header {
    width: 90%;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
}
.menu-bar i.fa-solid {
	 font-size: 23px;
}
   .site-logo {
    display: flex;
}
.contct-heading {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: auto;
}
.contct-heading:after {
    content: '';
    background-color: black;
    width: 42px;
    height: 4px;
    position: absolute;
    top: 117px;
    left: 398px;
}
.contct-discription {
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    width: 50%;
    margin: auto;
    text-align: center;
    color: #848484;
    line-height: 24px;
    padding-top: 19px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.contact-form.form-text {
    width: 65%;
    margin: 20px;
}
.map iframe {
    width: 100%;
    height: 40%;
}
.contact-info {
    padding-top: 26px;
    display: flex;
    height: 646px;
    padding-bottom: 100px;
}
.contact-form.form-text h2 {
    color: #887777;
    font-weight: 200;
}
.more-info {
    background-color: #FFCEB8;
    width: 35%;
}
.coll-1 input {
    height: 40px;
    border-color: black;
    padding-right: 22px;
    margin: 5px;
    width: 28%;
}
.coll-1 input:focus {
    box-shadow: inset 0px 0px 5px 1px #ffceb8;
}
form .coll-full textarea {
    width: 97%;
    align-items: center;
    margin-left: 5px;
    height: 170px;
    border: 2px solid black;
    margin-top: 20px;
}
form .coll-full textarea:focus {
    box-shadow: inset 0px 0px 5px 1px #ffceb8;
}
.coll-full button {
    background: #FFCEB8;
    height: 40px;
    margin-left: 6px;
    width: 136px;
    border: navajowhite;
    border-radius: 8px;
}
.image-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 59px;
}
.ct-text {
    width: 58%;
}
.ct-text h1 {
    font-weight: 100;
}
.ct-text p {
    line-height: 28px;
}
.instagram {
    background-color: #FFCEB8;
    width: 50%;
}
.mailer {
    background-color: #E5E5E5;
    width: 50%;
}
.social-links {
    width: 100%;
    height: 100vh;
    display: flex;
}