::selection{
	background-color: yellow;
	color: black;
}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
header {
    width: 90%;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
}
.menu-bar i.fa-solid {
	 font-size: 23px;
}
   .site-logo {
    display: flex;
}
.contct-heading {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    width: 30%;
    margin: auto;
}
.contct-heading:after {
    content: '';
    background-color: black;
    width: 42px;
    height: 4px;
    position: absolute;
    top: 117px;
    left: 398px;
}
.contct-discription {
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    width: 50%;
    margin: auto;
    text-align: center;
    color: #848484;
    line-height: 24px;
    padding-top: 19px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.map iframe {
    height: 297px;
}
.contact-info {
    width: 74vw;
    padding-top: 26px;
}