body {
    margin: 0;
    font-family:  sans-serif ;
}
header {
    position: absolute;
    background-color: rgba(27, 116, 94, 0.2);
    min-width: 100vw;
    display: flex;
}
.nav.icon {
    DISPLAY: INLINE-FLEX;
    align-items: center;
    margin: auto;
    padding: 21px 0px 0px 0px;
}
.nav a {
    padding: 0px 0px 0px 0px;
    color: #d8e3d5;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 1px solid transparent;
}

.nav a:hover {
    color: rgb(250, 186, 132);
    border-bottom: 1px solid;
    transition: color .2s ease-in-out;
}
li {
    list-style: none;
    padding: 16px 0px 10px 30px;
}
.icon .fa-brands {
    font-size: 24px;
    color: white;
}
.banner {
    background-image: url(florist2.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
