a.navbar-brand img {
    width: 95px;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(255 255 255);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}nav.navbar.navbar-expand-sm.navbar-dark.bg-dark {
    background-color: #7f6d97!important;
    position: sticky;
    top: 0;
}